DATABASE_URL="postgresql://neondb_owner:npg_Q3TIyLUcWAC8@ep-jolly-waterfall-a4vdt20q-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_Q3TIyLUcWAC8@ep-jolly-waterfall-a4vdt20q.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"